.mainContent {
  max-width: fit-content;
  padding: 40px
}

.possible-dates {
  max-width: fit-content;
  margin-right: 4px;
}

.speed-filter {
  max-width: 130px;
  margin-right: 4px;
}

.filter-form {
  display: flex;
}

.submit-filter-button {
  margin-bottom: 0.5rem;
}

.paging-navigation {
  display: flex;
  justify-content: space-between;
}

.previous-next-buttons {
  display: flex;
}

.navigation-button {
  width: 80px;
}

.goto-page-space {
  max-width: 80px;
}

.choose-page {
  width: auto;
}

th, td {
  text-align: center;
}
